@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.container {
  width: 1200px;
  margin: auto;
}

.content-m {
  min-height: 75vh;
}

.hidden {
  display: none;
}

/*========================== Логотип =============================*/
.logo a {
  text-decoration: none;
  color: #718096;
}

.st {
  font-size: 26px;
  color: #718096;
}

.st-f {
  font-size: 20px;
  color: #718096;
}

.logo-1s {
  color: #94a0c6;
  font-size: 26px;
  font-weight: 600;
}

.logo-2s {
  display: block;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 4px;
  color: #94a0c6;
}

.logo-footer .logo-footer-1s {
  font-size: 20px;
  color: #94a0c6;
  font-weight: 600;
}

.logo-footer .logo-footer-2s {
  font-size: 16px;
  display: block;
  font-weight: 600;
  letter-spacing: 4px;
  color: #94a0c6;
}

.logo-footer a {
  text-decoration: none;
}

/*=================================================================*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #718096;
  height: 80px;
}

/*====================== Подвал ==============================*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin-bottom: 30px;
  border-top: 1px solid #718096;
  border-bottom: 1px solid #718096;
}
.footer-auth-box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 50px;
}
.footer-auth-box a {
  text-decoration: none;
}

.i1 {
  font-size: 13px;
  font-weight: 600;
  color: #718096;
}
.i1 a {
  font-size: 13px;
  font-weight: 600;
  color: #718096;
  margin-left: 30px;
}

.ops {
  opacity: 0.7;
}

/*===========================================================*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.main-menu-item {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  margin-left: 20px;
}
.main-menu-item a {
  text-decoration: none;
  color: #718096;
  padding: 5px 10px 5px 10px;
}
.main-menu-item a:hover {
  color: #ffffff;
  background-color: #718096;
  border: none;
  border-radius: 25px;
}

.button-delete, .button-edit {
  padding: 3px 10px;
  border-radius: 7px;
  color: #ffffff;
}
.button-delete:hover, .button-edit:hover {
  opacity: 0.7;
}

.admin-panel {
  display: flex;
}

.z-section {
  margin-bottom: 20px;
}

.sidebar-left {
  width: 25%;
  min-height: 80vh;
  border-right: 1px solid #718096;
}

.content-area {
  width: 75%;
  padding: 25px 60px;
}

.admin-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 25px;
}

.admin-menu-item {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  margin-bottom: 15px;
}
.admin-menu-item a {
  text-decoration: none;
  color: #718096;
  padding: 5px 10px 5px 10px;
}
.admin-menu-item a:hover {
  color: #ffffff;
  background-color: #718096;
  border: none;
  border-radius: 25px;
}

.list-themes {
  width: 400px;
  height: 42px;
  padding: 5px 25px;
  font-size: 16px;
  font-weight: 500;
  color: #4e83d6;
  background-color: #e3eaea;
  border-radius: 8px;
  border: none;
  outline: none;
}

.list-i {
  color: #4e83d6;
  font-weight: 500;
  font-size: 16px;
  list-style: none;
}

.item-ts {
  display: flex;
  justify-content: space-between;
  padding-bottom: 7px;
  width: 400px;
}

.new-theme {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  margin-top: 15px;
}
.new-theme a {
  text-decoration: none;
  color: #718096;
  padding: 5px 10px 5px 10px;
}
.new-theme a:hover {
  color: #ffffff;
  background-color: #718096;
  border: none;
  border-radius: 25px;
}

.box-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100px;
}

.button-edit {
  background-color: coral;
  margin-left: 10px;
}

.button-delete {
  background-color: #f30505;
}

/*======================= ФОРМЫ =================================*/
.form-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-auth p {
  margin-top: 25px;
  color: #a0b8b8;
  text-align: center;
}

.form-dsg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-input, .form-submit {
  width: 400px;
  font-size: 16px;
  font-weight: 500;
  height: 42px;
  border-radius: 8px;
  border: none;
}

.form-input {
  background-color: #e3eaea;
  padding-left: 10px;
}

.form-submit {
  background-color: #57B846;
  color: #fff;
  margin-top: 20px;
  width: auto;
  padding: 3px 25px;
}

/*================ Подпись для поля =====================*/
.form-label {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 20px;
}

.mtop0 {
  margin-top: 0;
}

/*=============== Сообщения об ошибках ===================*/
.invalid-feedback {
  font-size: 14px;
  font-weight: 500;
  color: #f30505;
  border: 2px solid #f30505;
  border-radius: 4px;
  padding: 3px 15px;
  margin-top: 5px;
}

.alert-success, .alert-error {
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  padding: 7px 20px;
  margin: 5px 0;
}

.alert-success {
  color: #324cf5;
  background-color: #72f532;
  border: 2px solid #72f532;
}

.alert-error {
  color: #ffffff;
  background-color: #ff0000;
  border: 2px solid #ff0000;
}

/*=============== Блок авторизации ===================*/
.auth-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ssd {
  color: #11bf16;
}

/*=====================================================*/
.contact-info, .contact-label {
  font-size: 20px;
  font-weight: bold;
}

.contacts {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.contacts a {
  text-decoration: none;
}

.contact-label {
  text-align: right;
  width: 20%;
  color: #218323;
}
.contact-info {
  color: #116ebf;
}

.view-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.link {
  display: inline;
  width: 20%;
  border: 2px solid #ff8400;
  border-radius: 10px;
  margin: 10px;
  min-height: 100px;
}
.link:hover {
  background: #ff8400;
  color: #ffffff;
}
.link a {
  text-decoration: none;
}
.link p {
  font-size: 16px;
  font-weight: 500;
  color: darkcyan;
  padding: 10px;
}
.link p:hover {
  color: #ffffff;
}

.s-header, .e-header {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

.s-header {
  padding-top: 20px;
  color: #11bf16;
}
.s-header p {
  width: 400px;
  text-align: center;
}

.e-header {
  color: #bf1111;
}

.theme-list {
  display: flex;
  flex-wrap: wrap;
}

.theme {
  font-size: 16px;
  font-weight: 400;
  color: #11bf16;
  padding: 15px 30px;
  border: 2px solid #718096;
  border-radius: 10px;
  margin-right: 10px;
}
.theme:hover {
  border: 2px solid #2a4877;
  color: #218323;
}

.reg {
  text-transform: uppercase;
}
.reg a {
  text-decoration: none;
  line-height: 10px;
  color: #57B846;
  font-weight: 500;
}
.reg a:hover {
  color: #348026;
}

.inputfile {
  display: none;
  width: 400px;
}

.first {
  order: 1;
}

.last {
  order: -1;
}

.e45 {
  color: #57B846;
  font-weight: 600;
  font-size: 16px;
}
