body {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.hidden {
    display: none;
}


/*========================== Логотип =============================*/
.logo a {
    text-decoration: none;
    color: #718096;
}

.st {
    font-size: 26px;
    color: #718096;
}

.st-f {
    font-size: 20px;
    color: #718096;
}

.logo-1s {
    color: #94a0c6;
    font-size: 26px;
    font-weight: 600;
}

.logo-2s {
    display: block;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #94a0c6;
}

.logo-footer .logo-footer-1s {
    font-size: 20px;
    color: #94a0c6;
    font-weight: 600;
}

.logo-footer .logo-footer-2s {
    font-size: 16px;
    display: block;
    font-weight: 600;
    letter-spacing: 4px;
    color: #94a0c6;
}

.logo-footer a {
    text-decoration: none;
}
/*=================================================================*/

.container {
    width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    /*margin-bottom: 30px;*/
    border-bottom: 1px solid #718096;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}



/*======================== Меню ======================================*/

.main-menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #718096;
}

.main-menu li a {
    text-decoration: none; /*убираем подчеркивание ссылок*/
    color: #718096;
    padding: 5px 15px;
    border-radius: 10px;
}

.main-menu li {
        position: relative; /*позиционирование*/
        /*float: left;*/
        white-space: nowrap;
        font-weight: 500;
}

.main-menu li a:hover {
    color: #ffffff;
    background-color: #718096;

}

.main-menu ul {
    position: absolute; /*позиционирование выпадающих блоков*/
    display: none; /*скрываем блоки*/
    /*min-width: 90px; !*минимальная ширина выпадающих блоков*!*/

}

.main-menu li:hover ul {
    display: block; /*показываем блоки при наведении курсора на родителя*/
    left: 0;
    top: 25px;
    /*padding-left: -60px;*/
    background-color: #ffffff;
    padding-top: 10px;
}

/*.main-menu li ul a:hover {*/
/*    color: #ffffff;*/
/*    background-color: #718096;*/
/*}*/

/*Пункт меню 2-го уровня*/
/*.main-menu li ul li a {*/
/*    padding: 3px 30px;*/
/*    !*width: 100px;*!*/
/*    color: #718096;*/
/*    border-radius: 10px;*/
/*}*/

/*положение выпадающих блоков первого уровня*/
/*.main-menu ul {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    !*left: -30px;*!*/
/*    !*top: 100%;*!*/
/*}*/
/*положение вложенных выпадающих блоков*/
main-menu li ul li ul {
    /*left: 100%;*/
    /*top: 0%;*/
}

/*---------------------------------------------------------------*/



.s-header, .e-header {
    font-size: 20px;
    /*color: #11bf16;*/
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

.s-header {
    color: #11bf16;
}

.e-header {
    color: #bf1111;
}

.sss {

    font-size: 20px;
    color: #218323;
    font-weight: bold;
    text-align: right;
    width: 20%;
}

.contact-info {
    font-size: 20px;
    color: #116ebf;
    font-weight: bold;
}

.contacts a {
    text-decoration: none;
}

.contacts {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.theme-list {
    display: flex;
    flex-wrap: wrap;
}

.theme {
    font-size: 16px;
    font-weight: 400;
    padding: 15px 30px;
    border: 2px solid #718096;
    border-radius: 10px;
    color: #11bf16;
    margin-right: 10px;
}

.theme:hover {
    border: 2px solid #2a4877;
    color: #218323;
}

/*======================== Админ-панель ==========================*/
.admin-panel {
    display: flex;
}

.sidebar-left {
    /*background-color: #e2e8f0;*/
    width: 25%;
    border-right: 1px solid #718096;
}

.content-area {
    /*background-color: #fde0e0;*/
    width: 75%;
    padding: 25px 60px;
}

.admin-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 25px;
}

.admin-menu-item    {
    font-size: 18px;
    font-weight: 500;
    color: #94A0C8;
    margin-bottom: 15px;
}

.admin-menu-item:first-child{
    /*margin-top: 15px;*/
}


.admin-menu-item a {
    text-decoration: none;
    color: #718096;
}

.admin-menu-item a:hover {
    color: #ffffff;
    background-color: #718096;
    padding: 5px 25px 5px 5px;
    border-radius: 8px;
}


/*===============================================================*/
/*======================= ФОРМЫ =================================*/
/*--------- Стили для вывода сообщений об ошибках ---------------*/
.errors-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
}

.alert {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    height: auto;
    border-radius: 10px;
}

.alert li {
    list-style: none;
}

.alert-danger {
    background-color: #ff7575;
}
/*----------------------------------------------------------------------*/

.form-contact {
    /*margin-top: 30px;*/
}

.form-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.form-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
}





.form-auth p {
    margin-top: 25px;
    color: #a0b8b8;
    text-align: center;
}

.form-dsg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-input, .form-submit {
    width: 400px;
    font-size: 16px;
    font-weight: 500;
    height: 42px;
    border-radius: 8px;
    border: none;
}

/*================ Подпись для поля =====================*/
.form-label {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 20px;
}

.mtop0 {
    margin-top: 0;
}

/*========================================================*/
/*=============== Сообщения об ошибках ===================*/
.invalid-feedback {
    font-size: 14px;
    color: #f30505;
    font-weight: 500;
    border: 2px solid #f30505;
    border-radius: 4px;
    padding: 3px 15px;
    margin-top: 5px;
}

.alert-success, .alert-error {
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    padding: 7px 20px;
    margin: 5px 0;
}

.alert-success {
    color: #324cf5;
    background-color: #72f532;
    border: 2px solid #72f532;
}

.alert-error {
    color: #ffffff;
    background-color: #ff0000;
    border: 2px solid #ff0000;
}


/*========================================================*/
/*=============== Блок авторизации ===================*/
.auth-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ssd {
    color: #11bf16;
}

/*============================================================*/

/*====================== Подвал ==============================*/
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin-bottom: 30px;
    /*margin-top: 30px;*/
    border-top: 1px solid #718096;
    border-bottom: 1px solid #718096;
}

.footer-auth-box {
    display: flex;
    /*flex-direction: column;*/
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 50px;
}

.footer-auth-box a {
    text-decoration: none;
}

.i1 {
    font-size: 13px;
    font-weight: 600;
    margin-left: 30px;
}

.ops {
    opacity: 0.7;
}

.i1 a {
    color: #718096;
}
/*===========================================================*/




.form-input {
    background-color: #e3eaea;
    /*margin-top: -25px;*/
    /*margin-bottom: 25px;*/
    padding-left: 10px;
}

.form-submit {
    /*margin: auto;*/
    background-color: #57B846;
    color: #fff;
    margin-top: 20px;
    width: auto;
    padding: 3px 25px;
    /*min-width: auto;*/
    /*margin-bottom: 20px;*/
}

.reg {
    text-transform: uppercase;
}

.reg a{
    text-decoration: none;
    line-height: 10px;
    color: #57B846;
    font-weight: 500;
}

.reg a:hover {
    color: #348026;
}

.s-header p {
    width: 400px;
    text-align: center;
}
