@import 'colors';
@import 'mixins';

//========================== Админ-панель ==========================
.admin-panel {
    display: flex;
}

.z-section {
    margin-bottom: 20px;
}

// Зона меню панели администратора
.sidebar-left {
    width: 25%;
    min-height: 80vh;
    border-right: $border;
}

// Зона контента панели администратора
.content-area {
    width: 75%;
    padding: 25px 60px;
}

// Меню панели администратора
.admin-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 25px;
}

// Пункты меню панели администратора
.admin-menu-item    {
    @include menu_item();
    margin-bottom: 15px;
}

//=================================
// Контент-блок "Работа с темами"
//=================================

// Список тем
.list-themes {
    width: 400px;
    height: 42px;
    padding: 5px 25px;
    font-size: 16px;
    font-weight: 500;
    color: #4e83d6;
    background-color: #e3eaea;
    border-radius: 8px;
    border: none;
    outline: none;
}

// Список тем
.list-i {
    color: #4e83d6;
    font-weight: 500;
    font-size: 16px;
    list-style: none;
}

// Пункты списка тем
.item-ts {
    display: flex;
    width: 400px;
    justify-content: space-between;
    padding-bottom: 7px;
}

// Кнопка "Создание новой темы"
.new-theme {
    @include menu_item();
    margin-top: 15px;
}
//======================================
// Блок кнопок для работы со списками
//======================================

.box-buttons {
    display: flex;
    justify-content: flex-end;
    width: 100px;
}

.button-edit {
    margin-left: 10px;
    background-color: coral;
}

.button-delete {
    background-color: #f30505;
}


.button-edit, .button-delete {
    padding: 3px 10px;
    border-radius: 5px;
    color: #ffffff;
}

.button-edit:hover, .button-delete:hover {
    opacity: 0.7;
}
