/*======================== Админ-панель ==========================*/
.admin-panel {
    display: flex;
}

.z-section {
    margin-bottom: 20px;
}

.sidebar-left {
    /*background-color: #e2e8f0;*/
    width: 25%;
    min-height: 80vh;
    border-right: 1px solid #718096;
}

.content-area {
    /*background-color: #fde0e0;*/
    width: 75%;
    padding: 25px 60px;
}

.admin-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 25px;
}

.admin-menu-item    {
    font-size: 18px;
    font-weight: 500;
    color: #94A0C8;
    margin-bottom: 15px;
}

.admin-menu-item a {
    text-decoration: none;
    color: #718096;
}

.admin-menu-item a:hover {
    color: #ffffff;
    background-color: #718096;
    padding: 5px 25px 5px 5px;
    border-radius: 8px;
}


.list-themes {
    width: 400px;
    height: 42px;
    padding: 5px 25px;
    font-size: 16px;
    font-weight: 500;
    color: #4e83d6;
    background-color: #e3eaea;
    border-radius: 8px;
    border: none;
    outline: none;
}

.list-i {
    color: #4e83d6;
    font-weight: 500;
    font-size: 16px;
    list-style: none;
}

.item-ts {
    display: flex;
    width: 400px;
    justify-content: space-between;
    padding-bottom: 7px;
}

.new-theme {
    color: #4ea6d6;
    font-weight: 500;
    font-size: 16px;
    margin-top: 15px;
    width: 250px;
    padding: 5px 0;
    text-align: center;
    border: 1px solid #11bf16;
    border-radius: 8px ;
}

.new-theme a {
    text-decoration: none;
    color: #4ea6d6;
}

.new-theme a:hover {
    color: #824ed6;
}

.box-buttons {
    display: flex;
    justify-content: flex-end;
    width: 100px;
}

.button-edit {
    margin-left: 10px;
    background-color: coral;
}

.button-delete {
    background-color: #f30505;
}


.button-edit, .button-delete {
    padding: 3px 10px;
    border-radius: 5px;
    color: #ffffff;
}

.button-edit:hover, .button-delete:hover {
    opacity: 0.7;
}
