/*=============== Блок авторизации ===================*/
.auth-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ssd {
    color: #11bf16;
}

/*=====================================================*/
