@import "colors";
@import "mixins";

/*====================== Подвал ==============================*/
.footer {
    @include flex-row(center, space-between);
    height: 80px;
    margin-bottom: 30px;
    border-top: $border;
    border-bottom: $border;
    &-auth-box {
        @include flex-row(flex-end, flex-end);
        margin-top: 50px;

        a {
            text-decoration: none;
        }
    }
}


.i1 {
    a {
        @include font(13px, 600, $color_menuitem);
        margin-left: 30px;
    }
}

.ops {
    opacity: 0.7;
}
/*===========================================================*/
