/*======================= ФОРМЫ =================================*/
@import 'mixins';

//================= Форма изменения контактных данных ==============
//================= change-contacts.blade.php ======================

.form-contact {
    @include flex-column(flex-start);
}

//================= Форма авторизации пользователей ================
//================= login.blade.php ================================
//================= Форма регистрации нового пользователя ==========
//================= signup.blade.php ===============================

.form-auth {
    @include flex-column(center);
    p {
        margin-top: 25px;
        color: #a0b8b8;
        text-align: center;
    }
}


.form-dsg {
    @include flex-column(flex-start);
}

.form-input, .form-submit {
    width: 400px;
    font-size: 16px;
    font-weight: 500;
    height: 42px;
    border-radius: 8px;
    border: none;
}

.form-input {
    background-color: #e3eaea;
    padding-left: 10px;
}

.form-submit {
    background-color: #57B846;
    color: #fff;
    margin-top: 20px;
    width: auto;
    padding: 3px 25px;
}

/*================ Подпись для поля =====================*/
.form-label {
    @include font(16px, 700, #000000);
    margin-bottom: 10px;
    margin-top: 20px;

}

.mtop0 {
    margin-top: 0;
}

/*=============== Сообщения об ошибках ===================*/
.invalid-feedback {
    @include font(14px, 500, #f30505);
    border: 2px solid #f30505;
    border-radius: 4px;
    padding: 3px 15px;
    margin-top: 5px;
}

.alert-success, .alert-error {
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    padding: 7px 20px;
    margin: 5px 0;
}

.alert-success {
    color: #324cf5;
    background-color: #72f532;
    border: 2px solid #72f532;
}

.alert-error {
    color: #ffffff;
    background-color: #ff0000;
    border: 2px solid #ff0000;
}


