
/*========================== Логотип =============================*/
.logo a {
    text-decoration: none;
    color: #718096;
}

.st {
    font-size: 26px;
    color: #718096;
}

.st-f {
    font-size: 20px;
    color: #718096;
}

.logo-1s {
    color: #94a0c6;
    font-size: 26px;
    font-weight: 600;
}

.logo-2s {
    display: block;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #94a0c6;
}

.logo-footer .logo-footer-1s {
    font-size: 20px;
    color: #94a0c6;
    font-weight: 600;
}

.logo-footer .logo-footer-2s {
    font-size: 16px;
    display: block;
    font-weight: 600;
    letter-spacing: 4px;
    color: #94a0c6;
}

.logo-footer a {
    text-decoration: none;
}
/*=================================================================*/
