@import "mixins";
//@import "template";
//======================== Главное меню =============================

nav {
    @include flex-row(center, space-between);
    width: 85%;
}

.main-menu {
    @include flex-row(center, space-between);
    list-style: none;
}

.main-menu-item    {
    @include menu_item();
    margin-left: 20px;
}

//=================================================================

