@import "mixins";

.s-header, .e-header {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

.s-header {
    padding-top: 20px;
    color: #11bf16;
    p {
        width: 400px;
        text-align: center;
    }
}

.e-header {
    color: #bf1111;
}

.theme-list {
    display: flex;
    flex-wrap: wrap;
}

.theme {
    @include font(16px, 400, #11bf16);
    padding: 15px 30px;
    border: 2px solid #718096;
    border-radius: 10px;
    margin-right: 10px;
    &:hover {
        border: 2px solid #2a4877;
        color: #218323;
    }
}

.reg {
    text-transform: uppercase;
    a{
        text-decoration: none;
        line-height: 10px;
        color: #57B846;
        font-weight: 500;
        &:hover {
            color: #348026;
        }
    }
}


.inputfile {
    display: none;
    width: 400px;
}

.first {
    order: 1;
}

.last {
    order: -1;
}

.e45 {
    color: #57B846;
    font-weight: 600;
    font-size: 16px;
    //margin-bottom: 10px;
}
